snowfall {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50000000;
    display: block;
    font-size: 40px;
    overflow: hidden;
    pointer-events: none;
  }
  snowfall snowflake {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
  }
  snowfall snowflake span {
    align-self: center;
  }
  snowfall snowflake img {
    align-self: center;
    width: 20px;
  }
  snowfall snowflake:nth-child(50) {
    animation: animation-snowflake-50 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-50 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(49) {
    animation: animation-snowflake-49 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-49 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(48) {
    animation: animation-snowflake-48 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-48 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(47) {
    animation: animation-snowflake-47 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-47 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(46) {
    animation: animation-snowflake-46 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-46 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(45) {
    animation: animation-snowflake-45 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-45 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(44) {
    animation: animation-snowflake-44 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-44 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(43) {
    animation: animation-snowflake-43 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-43 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(42) {
    animation: animation-snowflake-42 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-42 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(41) {
    animation: animation-snowflake-41 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-41 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(40) {
    animation: animation-snowflake-40 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-40 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(39) {
    animation: animation-snowflake-39 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-39 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(38) {
    animation: animation-snowflake-38 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-38 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(37) {
    animation: animation-snowflake-37 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-37 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(36) {
    animation: animation-snowflake-36 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-36 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(35) {
    animation: animation-snowflake-35 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-35 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(34) {
    animation: animation-snowflake-34 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-34 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(33) {
    animation: animation-snowflake-33 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-33 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(32) {
    animation: animation-snowflake-32 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-32 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(31) {
    animation: animation-snowflake-31 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-31 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(30) {
    animation: animation-snowflake-30 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-30 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(29) {
    animation: animation-snowflake-29 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-29 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(28) {
    animation: animation-snowflake-28 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-28 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(27) {
    animation: animation-snowflake-27 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-27 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(26) {
    animation: animation-snowflake-26 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-26 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(25) {
    animation: animation-snowflake-25 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-25 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(24) {
    animation: animation-snowflake-24 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-24 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(23) {
    animation: animation-snowflake-23 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-23 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(22) {
    animation: animation-snowflake-22 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-22 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(21) {
    animation: animation-snowflake-21 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-21 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(20) {
    animation: animation-snowflake-20 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-20 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(19) {
    animation: animation-snowflake-19 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-19 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(18) {
    animation: animation-snowflake-18 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-18 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(17) {
    animation: animation-snowflake-17 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-17 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(16) {
    animation: animation-snowflake-16 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-16 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(15) {
    animation: animation-snowflake-15 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-15 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(14) {
    animation: animation-snowflake-14 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-14 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(13) {
    animation: animation-snowflake-13 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-13 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(12) {
    animation: animation-snowflake-12 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-12 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(11) {
    animation: animation-snowflake-11 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-11 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(10) {
    animation: animation-snowflake-10 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-10 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(9) {
    animation: animation-snowflake-9 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-9 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(8) {
    animation: animation-snowflake-8 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-8 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(7) {
    animation: animation-snowflake-7 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-7 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(6) {
    animation: animation-snowflake-6 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-6 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(5) {
    animation: animation-snowflake-5 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-5 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(4) {
    animation: animation-snowflake-4 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-4 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(3) {
    animation: animation-snowflake-3 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-3 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(2) {
    animation: animation-snowflake-2 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-2 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }
  snowfall snowflake:nth-child(1) {
    animation: animation-snowflake-1 linear infinite;
    animation-duration: 8random(80) / 10s;
    animation-delay: random(160) / 10 - 16s;
  }
  @keyframes animation-snowflake-1 {
    snowfall 0% {
      left: 0%;
      top: calc(0% - 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, 0deg);
    }
    snowfall 100% {
      left: 0%;
      top: calc(100% + 100px);
      transform: scale(1random(800) / 10 - 40 / 100) rotate3d(random(100) / 100, random(100) / 100, random(100) / 100, random(720) + 720 * random(2) - 1 * 2 - 1deg);
    }
  }